<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

 <!-- content -->
<section id="content" class="content">

  <!-- layout_slider -->
  <div id="layout_slider" class="layout_slider">
    <!-- indicator-->
    <nav class="indicator">
      <a href="#slide1" class="ind active"></a>
      <a href="#slide2" class="ind"></a>
      <a href="#slide3" class="ind"></a>
      <a href="#slide4" class="ind"></a>
    </nav>
    <!-- indicator-->
    <!-- slideFrame -->

    <div class="slideFrame">
      <section id="slide1" class="slide">
        <h1>SLIDE 1</h1>
      </section>
      <section id="slide2" class="slide">
        <h1>SLIDE 2</h1>
      </section>
      <section id="slide3" class="slide">
        <h1>SLIDE 3</h1>
      </section>
      <section id="slide4" class="slide">
        <h1>SLIDE 4</h1>
      </section>
    </div>
    <!-- //slideFrame -->
  </div>
  <!-- //layout_slider -->

</section>
<!-- //content -->
<script src="/js/slider.js"></script>